asthmaactionplan.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://indivo.org/vocab/xml/documents#"
	xmlns:indivo="http://indivo.org/vocab/xml/documents#"
	elementFormDefault="qualified">

  <element name="AsthmaActionPlan">
    <complexType>
      <sequence>
        <element name="startDate" type="dateTime" minOccurs="0" maxOccurs="1" />
        <element name="endDate" type="dateTime" minOccurs="0" maxOccurs="1" />
        <element name="notes" type="string" minOccurs="1" maxOccurs="1" />
	<!-- the actual asthma plan is in an attached document -->
      </sequence>
    </complexType>
  </element>
</schema>
